body {
    width: 90%; 
    margin: auto;
    font-family: 'Helvetica', sans-serif;
    background-color: #efeded;
}

.header {
    text-align: center;
    font-family: 'Dancing Script', sans-serif;
    font-size: 20px;
}
.nav {
    text-align: center;
}
.nav li {
    display: inline-block;
    font-size: 12px;
    letter-spacing: 3px;
}
li {    
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: black;
    padding: 30px 30px;
    text-align: center;
}
#active {color: #c454aa;}

.places div {
    width: 45%;
    max-height: 200px;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
#front-text {
  margin: 0 auto;
  position: relative;
  text-align: auto;
  top: 25%;
  width: auto;
  color: #f9f4f5;
  text-transform: uppercase;
}
.montauk {
  background-image: url(images/surf.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.fire {
  background-image: url(images/walkway.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.greenport {
  background-image: url(images/mussels.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.shelter {
  background-image: url(images/ferry.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}

.footer {
    text-transform: uppercase;
    text-align: right;
    font-size: 11px;
}